
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /Glassify-CI/

    # If the request is not for a real file or directory, send it to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

<IfModule !mod_rewrite.c>
    ErrorDocument 404 /index.php
</IfModule>
