.header {
    position: fixed;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    background-color: #02455F;
    padding: 5px 10px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-right i {
    font-size: 1.8em;
    margin: 10px;
    color: #ffffff;
    cursor: pointer;
}


.header-right i:hover {
    color: #FDC103;
}



.user-icon {
  font-size: 24px;
  color: #555;
  transition: color 0.3s ease, transform 0.3s ease;
}

.user-link.active .user-icon {
    color: #FDC103;  /* Highlight color */
  transform: scale(1.2);
}

.user-link:hover .user-icon {
    color: #FDC103;
}
